
#content {
    width: 200px;
    padding: 0px;
    left: 0px;
    top: 10px;
    text-align: left;
    background: url('../img/bg-green.png') repeat scroll 0 0 transparent;
    font-family: 'Open Sans Condensed' !important;
    font-size : 16px;
    font-weight: 300;
    font-size-adjust: none;
    font-style: normal;
    color: white;
}

#content-gallery {
    width: 200px;
    padding: 0px;
    left: 0px;
    top: 10px;
    text-align: left;
    background-color: #333333;
    font-family: 'Open Sans Condensed' !important;
    font-size : 16px;
    font-weight: 300;
    font-size-adjust: none;
    font-style: normal;
    color: white;

}

.menu {
    /*margin-top: 40px;*/
    background: url('../img/ZNAK_MJ-01.png') no-repeat 20px 15px transparent;
    padding: 100px 0px 30px 25px;
    /*background-color: red;*/
}

#about {
    width: 930px;
    margin: 0px auto;
    padding: 40px;
    text-align: left;
    background: url('../images/czern_90-01.png') repeat scroll 0 0 ;
    font-family: 'Open Sans Condensed' !important;
    font-size : 16px;
    font-weight: 300;
    font-size-adjust: none;
    font-style: normal;
    color: white;
}

#about h2 {
    color: #BF9A7D;
    margin: 0px 0px 10px 0px;
}

#about h3, #content p {
    color: #fff;
    margin: 0px 0px 10px 0px;
}

#about .wrapper {
    width: 930px;
}
#about .menu {
    width: 160px;
    float: left;
}

#abouttext {
    width: 720px;
    margin-left: 160px;
}

.menu li :hover {
    color: #BF9A7D;
}


.menu a {
    /*color: #BF9A7D;*/
    color: white;
    text-decoration: none;
}

.menu li {
    /*color: #BF9A7D;*/
    list-style-type: square;
}

.menu li.email {
    padding: 10px 0px 0px 0px;
}

.menu li.email, .menu li.email a {
    color: #fff;
}
